# GDP Per Capita Analysis

GDP per capita data was taken from world bank
https://data.worldbank.org/indicator/NY.GDP.PCAP.CD

In [1]:
import pandas as pd

read "gdp_per_capita.csv" file into a dataframe

In [5]:
data=pd.read_csv('gdp_per_capita_2020July.csv', skiprows=4)#use shift+tab to see read_csv function params
#csv has title, then that's not part of the data so use skiprows

In [6]:
type(data)

pandas.core.frame.DataFrame

check the top-five rows the data frame

In [7]:
data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,24985.993281,24713.698045,26189.435509,26647.938101,27980.880695,28281.350482,29007.693003,NaN,NaN,NaN
1,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.773194,59.860874,58.458015,78.706388,82.095231,101.108305,...,591.162759,641.871479,637.165523,613.856689,578.466353,547.228110,556.302002,524.162881,502.115487,NaN
2,Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4615.468028,5100.095808,5254.882338,5408.410496,4166.979684,3506.072885,4095.812942,3289.646664,2973.591160,NaN
3,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4437.142885,4247.629984,4413.060861,4578.631994,3952.801215,4124.055726,4531.020806,5284.380184,5352.857411,NaN
4,Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,43335.328862,38686.461264,39538.766722,41303.929371,35762.523074,37474.665406,38962.880354,41793.055258,40886.391165,NaN

In [8]:
#set index of the dataframe as Country name
data.set_index('Country Name', inplace=True)

In [9]:
#check again top-five rows of the dataframe
data.head()

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24985.993281,24713.698045,26189.435509,26647.938101,27980.880695,28281.350482,29007.693003,NaN,NaN,NaN
Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,59.773194,59.860874,58.458015,78.706388,82.095231,101.108305,137.594352,...,591.162759,641.871479,637.165523,613.856689,578.466353,547.228110,556.302002,524.162881,502.115487,NaN
Angola,AGO,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4615.468028,5100.095808,5254.882338,5408.410496,4166.979684,3506.072885,4095.812942,3289.646664,2973.591160,NaN
Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4437.142885,4247.629984,4413.060861,4578.631994,3952.801215,4124.055726,4531.020806,5284.380184,5352.857411,NaN
Andorra,AND,GDP per capita (current US$),NY.GDP.PCAP.CD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,43335.328862,38686.461264,39538.766722,41303.929371,35762.523074,37474.665406,38962.880354,41793.055258,40886.391165,NaN

### How to delete a column?

In [12]:
# delete Country Code, Indicator Name and Indicator Code columns
data.drop(['Country Code', 'Indicator Name', 'Indicator Code'], axis=1, inplace=True)

In [13]:
# check the dataframe
data.head()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
Country Name,,,,,,,,,,,,,,,,,,,,,
Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24985.993281,24713.698045,26189.435509,26647.938101,27980.880695,28281.350482,29007.693003,NaN,NaN,NaN
Afghanistan,59.773194,59.860874,58.458015,78.706388,82.095231,101.108305,137.594352,160.898589,129.108323,129.329713,...,591.162759,641.871479,637.165523,613.856689,578.466353,547.228110,556.302002,524.162881,502.115487,NaN
Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4615.468028,5100.095808,5254.882338,5408.410496,4166.979684,3506.072885,4095.812942,3289.646664,2973.591160,NaN
Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4437.142885,4247.629984,4413.060861,4578.631994,3952.801215,4124.055726,4531.020806,5284.380184,5352.857411,NaN
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,43335.328862,38686.461264,39538.766722,41303.929371,35762.523074,37474.665406,38962.880354,41793.055258,40886.391165,NaN

### get data for Italy

In [14]:
#loc is to find in rows in index
italy=data.loc['Italy']

In [15]:
type(italy)

pandas.core.series.Series

In [17]:
# get italy's gdp per capita for 2019
italy

1960             804.492623
1961             887.336745
1962             990.260152
1963            1126.019337
1964            1222.544540
                   ...
2016           30939.714246
2017           32406.720315
2018           34520.085162
2019           33189.565799
Unnamed: 64             NaN
Name: Italy, Length: 61, dtype: float64

In [18]:
italy.tail()

2016           30939.714246
2017           32406.720315
2018           34520.085162
2019           33189.565799
Unnamed: 64             NaN
Name: Italy, dtype: float64

In [16]:
#changing index str to a function
#data.index=data.index.str.lower()

Index(['aruba', 'afghanistan', 'angola', 'albania', 'andorra', 'arab world',
       'united arab emirates', 'argentina', 'armenia', 'american samoa',
       ...
       'virgin islands (u.s.)', 'vietnam', 'vanuatu', 'world', 'samoa',
       'kosovo', 'yemen, rep.', 'south africa', 'zambia', 'zimbabwe'],
      dtype='object', name='Country Name', length=264)

### Find the year that italy has the highest increase of gdb per capita

- Calculate the yearly percentage increase compared to previous year 
- find the year that has highest increase in terms of percentage.

calculate the yearly change in percentage

In [19]:
italy_pct_change=italy.pct_change()#change from previous year

In [22]:
# multiply italy_pct_change by 100
italy_pct_change=italy_pct_change*100

In [23]:
italy_pct_change

1960                 NaN
1961           10.297686
1962           11.599137
1963           13.709446
1964            8.572251
                 ...
2016            2.346949
2017            4.741498
2018            6.521378
2019           -3.854334
Unnamed: 64     0.000000
Name: Italy, Length: 61, dtype: float64

In [25]:
pd.options.display.max_rows=None #shows more than 5 head and tails above

In [26]:
italy_pct_change

1960                 NaN
1961           10.297686
1962           11.599137
1963           13.709446
1964            8.572251
1965            6.699901
1966            7.511844
1967            9.358711
1968            7.709920
1969            9.773285
1970           16.183840
1971            9.433254
1972           15.853834
1973           19.995781
1974           12.975384
1975           13.416969
1976           -1.799235
1977           14.145457
1978           21.871980
1979           24.592962
1980           20.981019
1981           -9.862760
1982           -0.869885
1983            3.653161
1984           -1.185563
1985            3.242642
1986           41.602540
1987           25.803885
1988           10.607386
1989            4.077579
1990           27.089849
1991            5.429546
1992            5.861331
1993          -19.380539
1994            3.195873
1995            6.861861
1996           11.696612
1997           -5.425354
1998            2.239149
1999           -1.436110
2000           -8.682903
2001            1.969494
2002            8.723865
2003           23.329580
2004           13.813755
2005            2.506177
2006            4.551732
2007           12.897890
2008            7.814567
2009           -9.069972
2010           -2.910587
2011            7.218068
2012           -9.185549
2013            1.416258
2014           -0.088775
2015          -14.888584
2016            2.346949
2017            4.741498
2018            6.521378
2019           -3.854334
Unnamed: 64     0.000000
Name: Italy, dtype: float64

find the year that has highest change

In [29]:
italy_pct_change.idxmax() #returns the index of the max value

'1986'

In [31]:
italy_pct_change.max() #returns max pct

41.60254037779829

In [32]:
italy_pct_change.min()

-19.380538955524628

In [33]:
italy_pct_change.nlargest(5)#top 5 of largest pct change

1986    41.602540
1990    27.089849
1987    25.803885
1979    24.592962
2003    23.329580
Name: Italy, dtype: float64

### Find the years that GDP per capita decreased compared to the previous year.

In [ ]:
italy_negative=italy_pct_change

In [ ]:
italy_negative

In [ ]:
# get only years
italy_negative

## Find the year that GDP per capita of the world increased the most compared to previous year

In [ ]:
data.head()

In [ ]:
# first get the data for world
# there is an index named World
world=data.

In [ ]:
# now find the year that has highest increase in percentange
world

## find top 10 years that have highest standart deviation

In [ ]:
data.head()

In [ ]:
# first calculate standart deviation for each year
data_std=data.

In [ ]:
data_std

In [ ]:
# now top-10 years having the hightest standart deviation
data_std.

### Which country has the highest gdp_per_capita in 2019?

In [ ]:
data.head()

In [ ]:
# get the data for the year 2019
data_2019=data

In [ ]:
data_2019

In [ ]:
# now get the country
data_2019.

# Rank of Luxembourg

find the rank of Luxembourg each year

In [ ]:
# calculate the rank of each country for each year
data_rank=data.

In [ ]:
data_rank

In [ ]:
# now get the rank of Luxembourg
lux_rank=data_rank.

In [ ]:
# plot the rank of luxembourg
lux_rank.

In [ ]:
# print the years where Luxembourg ranks top
lux_rank